<div>
    <img *ngIf = seller src={{seller.imagePath}}>
</div>

<div *ngIf = seller class="info">
    <p > {{seller.name}}</p>
    <p> {{seller.category}}</p>
</div>

<div>
    <p>All Products</p>
    <ul *ngFor="let product of allProducts">
        <li>{{product.name}}</li>
    </ul>

    <p>top ten products</p>
    <ul *ngFor="let topten of topTenProducts">
        <li>{{topten.name}}</li>
    </ul>
</div>

<!--This needs to be in a dialog-->
<form [formGroup]="addProductForm" (ngSubmit)="onNewProduct($event)">
    <input formControlName="name" type="name" placeholder="Product name">
    <input formControlName="price" type="price" placeholder="Product price">
    <input formControlName="imagePath" type="imagePath" placeholder="Product image">
    <button type="submit">Add Product</button>
</form>

<button type="button" (click)="getTopTen()"> Top 10 Products</button>





