<body>
<div class="container-fluid">
    <div id="header" class="row" *ngIf=seller>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <img src={{seller.imagePath}}>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 ">
        <p> Seller: {{seller.name}} <br> Category: {{seller.category}}</p>
        <button class="btn btn-lg btn-outline-primary" (click)="editSeller(seller)">Edit Seller</button>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 offset-9">
    <button class="btn btn-lg btn-outline-primary" id="addbutton" (click)="addProduct()">Add Product</button>
  </div>
</div>
<div class="row">
  <div class=" col-md-12">
<ngb-tabset>
  <ngb-tab title="All Products">
    <template ngbTabContent>
      <div *ngIf="!noProducts" id="products" class="row">
        <div id="product" *ngFor="let product of allProducts" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div id="productInCenter">
            <a (click)="editProduct(product)">
              <img src={{product.imagePath}}>
            </a>
            <figcaption>{{product.name}} &emsp; {{product.price}}</figcaption>
          </div>
        </div>
      </div>
      <div *ngIf="noProducts">
        <p>This seller has no products!</p>
      </div>
    </template>
  </ngb-tab>
  <ngb-tab title="Top Ten Products" (tabChange)="getTopTen()">
    <template ngbTabContent>
      <div *ngIf="!noProducts" id="topTenProducts" class="row">
        <div id="topten" *ngFor="let product of topTenProducts" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div id="toptenInCenter">
            <a (click)="editProduct(product)">
              <img src={{product.imagePath}}>
            </a>
            <figcaption>{{product.name}} &emsp; {{product.price}}</figcaption>
          </div>
        </div>
      </div>

      <div *ngIf="noProducts">
        <p>This seller has no products!</p>
      </div>
    </template>
  </ngb-tab>
</ngb-tabset>
  </div>
<template ngbModalContainer>
</template>
</div>
</body>
