#header{
    margin: 30px;
    height: 300px;
}

#header img {
   width: 100%;
   height: 239px;
}

body #product img{
    width: 220px;
    height: 200px;
}

body #product p{
    display:inline-block;
}

body #topten img{
  width: 220px;
  height: 200px;
}

body #topten p{
  display: inline-block;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body figcaption {
    text-align: center;
}
/*
#addbutton{
  position: relative;
  left: 990px;
  bottom: 390px;
}*/

#allproducts{
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#alltopproducts{
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
