<!--template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      Name: <br>
      <input type = "text" [(ngModel)]="newSellerName" name="newName"><br>
      Category: <br>
      <input type = "text" [(ngModel)]="newSellerCategory" name="newCategory"><br>
      <input type = "submit" value="Add Seller" (click)="addSeller()">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</--template-->

<h1>Seller List </h1>

<ul>
  <li *ngFor="let seller of sellers">
    <a class="navbar-link active" (click)="DetailsPage(seller.id)">Seller: {{seller.name}}, Main Product: {{seller.category}} </a>
  </li>
</ul>

<button class="btn btn-lg btn-outline-primary" (click)="addSeller()">Add Seller</button>
<template ngbModalContainer></template>

