<div class="modal-header">
  <h4 class="modal-title" *ngIf="!edit">Add Product</h4>
  <h4 class="modal-title" *ngIf="edit">Edit Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form >
  <div class="modal-body">
    <input [(ngModel)]="product.name" placeholder="Product name" name="productName" required>
    <input type="number" min="1" [(ngModel)]="product.price" name="productPrice" placeholder="Product price">
    <input type="number" min="0" [(ngModel)]="product.quantityInStock" name="productStock" placeholder="Quantity in stock">
    <input type="number" min="0" [(ngModel)]="product.quantitySold" name="productSold" laceholder="Quantity sold">
    <input [(ngModel)]="product.imagePath" name="productImage" placeholder="Image Path">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
    <button type="submit" class="btn btn-secondary" (click)="onCreate()">Create</button>
  </div>
</form>